PORT = 5000

MONGODB_URL="mongodb+srv://aryantripathi639470_db_user:PaPmFXcb3lWntydp@cluster0.eg5wos2.mongodb.net/eventora"

EMAIL_USER = 'aryantripathi739470@gmail.com'
EMAIL_PASS = 'coracsppaovkhvxn'

JWT_SECRETE = "RandomHoSktaHaiYe"